                <footer class="mdl-cell mdl-cell--bottom mdl-cell--12-col mdl-mini-footer">
                    <div class="mdl-card__supporting-text">
                        <div class="mdl-mini-footer--left-section">
                            {{ partial "socialbtns.html" . }}
                        </div>
                        <div class="mdl-mini-footer--right-section">
                            <span>© {{ .Site.Params.copyrightyear }} {{ .Site.Params.name }}</span>
                        </div>
                    </div>
                </footer>
            </div>
        </main>
        <div class="mdl-layout__obfuscator"></div>
    </div>
    <script src="./js/es6-promise.min.js"></script>
    <script src="./js/material.min.js"></script>
    <script src="./js/mustache.min.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>
